* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definições de variáveis */

:root {
  --primary-color: #6e9b24;
  --secondary-color: #fbfbfb;
  --tertiary-color: #002752;
  background-color: var(--secondary-color);
}

/*Estilos do Header*/

header {
  background-color: var(--tertiary-color);
  height: 128px;
  display: flex;
  align-items: center;
}

header .logo-container img {
  margin: 3em;
  width: 60px;
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: 0.4em;
}

li a {
  color: var(--secondary-color);
  text-decoration: none;
}

li a:hover {
  color: var(--primary-color);
}

li a:active {
  color: rgb(250, 124, 124);
}

li.current-page {
  border: 1px solid var(--primary-color);
}

/*Estilos da section e dos artigos*/

main {
  background-color: var(--primary-color);
}

.title-container {
  padding: 3em;
}

h1 {
  color: var(--secondary-color);
}

h1,
h2 {
  text-align: center;
}

section.saiba-mais {
  padding: 0.5em;
  width: 1300px;
  margin: auto;
}

section.saiba-mais .referencia {
  background-color: var(--secondary-color);
  box-shadow: 1em 0.3em 1em rgba(0, 0, 0, 0.5);
  margin: 2em auto 0 auto;
  padding: 1em;
}

article:last-child {
  margin: 2em auto 0 auto;
}

article.referencia button {
  display: block;
}

.btn-ver-mais {
  margin: 1em auto;
  padding: 1em;
  width: 30%;
  cursor: pointer;
}

.btn-ver-mais a {
  text-decoration: none;
  color: black;
}

/*Estilos Footer*/

footer {
  height: 164px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

footer .footer-element {
  margin: 0 4em;
}

footer .authors-container ul {
  list-style: none;
}

@media (max-width: 1400px) {
  section.saiba-mais {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .referencia {
    text-align: center;
  }
}
